<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="HCI-Blazer site" />
  <meta name="author" content="Ong Zhi Xian" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Barcodes</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/skeleton.css" />
  <link rel="icon" type="image/png" href="images/favicon.png" />
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 1em">
        <h3>Barcodes Website</h3>
      </div>
    </div>

    <div class="row">
      <div class="one-half column" style="margin-top: 1em">
        <h3>Item codes</h3>
        <div class="row">
          <div class="one-half column" style="margin-top: 1em">
            <div>HS(14) - S01<br/><img src="/qrcode/HS(14) - S01" width="50%" /></div>
            <div>HS(14) - S02<br/><img src="/qrcode/HS(14) - S02" width="50%" /></div>
            <div>HS(14) - S03<br/><img src="/qrcode/HS(14) - S03" width="50%" /></div>
          </div>
          <div class="one-half column" style="margin-top: 1em">
          </div>
        </div>

      </div>

      <div class="one-half column" style="margin-top: 1em">
        <h3>User codes</h3>
        <p><img src="/code39/S7940180C" width="50%" /></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><img src="/code39/S7940180X" width="50%" /></p>
      </div>
    </div>


  </div>

</body>
</html>
