########################################
# EXAMPLE STATIC SITE HOSTING

localhost:7081 {
	root * ./www
	file_server
}

#localhost {
#	respond "Hello, world of caddy!"
#}

#localhost:2016 {
#	respond "Goodbye, world!"
#}


########################################
# REVERSE-PROXY FOR NGROK

http://localhost:7071 {
    
    handle /api/* {
        reverse_proxy http://localhost:10020 {
            header_up -*

        }
    }

    handle /* {
        respond "Unhandled!"
    }
}


########################################
# REVERSE-PROXY FOR LOCAL FASTAPI

localhost:7072 {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy http://localhost:10020 
    }

    handle /admin/* {
        reverse_proxy localhost:8080
    }

    handle /* {
        reverse_proxy http://localhost:10020 
    }

    handle /msg {
        respond "Goodbye, world!aa"
    }
}
